<link rel="stylesheet" href="/css/_chat_box.css">

<% if(locals.user){ %>
    <div id="user-chat-box-1">
        <ul id="chat-msg-list-1">
            <li class="other-msg-1">
                <span>Other Message</span>
            </li>
            <li class="self-msg-1">
                <span>Self Message</span>
            </li>
        </ul>
        <div id="msg-input-1">
            <input id="chat-msg-input-1" type="text" placeholder="Type message here">
            <button id="send-msg-1">Send</button>
        </div>
    </div>
<% } %>