<link rel="stylesheet" href="/css/header.css">

<header>
    <div>
        <h1><a href="/">Social</a></h1>
    </div>

    <div>
        <ul>
            <% if (locals.user){ %>
                
                <a href="/"><li>Home</li></a>
                <a href="/users/profile"><li><%= user.name %></li></a>
                <a href="/users/sign-out"><li>Sign Out</li></a>
    
            <% }else{ %>
    
                <a href="/users/sign-in"><li>Sign In</li></a>
                <a href="/users/sign-up"><li>Sign Up</li></a>
    
            <%} %>
        </ul>
    </div>

</header>