<div id="forgot-pass-box">
    <div id="box-border">
        <div>
            <h1>Find Your Account</h1>
        </div>
    
        <div>
            <p>Please enter your email address to search for your account.</p>
            <form action="/users/identity_status" method="post">
                <input type="email" name="email" placeholder="Email address" required>
                <input type="submit" value="Search">
            </form>
            <hr>
            <a href="/users/sign-in">Back to login</a>
        </div>
    </div>
</div>