<div>

    <p>
        Hi <%= user.name %>!
    </p>
    <br><br>
    <p>
        Here's your link to reset your account's password. Click to continue. <a href="http://localhost:8000/users/forgot-pass/<%= accesstoken %>">http://localhost:8000/users/forgot-pass/<%= accesstoken %></a>
    </p>
    <br><br>
    <p>
        Thanks!
    </p>

</div>