#user-chat-box {
  position: fixed;
  bottom: 0%;
  right: 5%;
  border: 2px solid black;
  z-index: 2;
  background-color: black;
  padding: 10px; }
  #user-chat-box #chat-msg-list {
    padding-inline-start: 0;
    min-height: 150px; }
    #user-chat-box #chat-msg-list li {
      list-style: none;
      padding: 5px; }
      #user-chat-box #chat-msg-list li span {
        border: 1px solid black;
        padding: 5px;
        width: 50%; }
    #user-chat-box #chat-msg-list .other-msg {
      display: flex;
      justify-content: left;
      text-align: left; }
      #user-chat-box #chat-msg-list .other-msg span {
        background-color: lightseagreen;
        color: white; }
    #user-chat-box #chat-msg-list .self-msg {
      display: flex;
      justify-content: right;
      text-align: right; }
      #user-chat-box #chat-msg-list .self-msg span {
        background-color: rgba(245, 245, 245, 0.501);
        color: white; }
  #user-chat-box #msg-input input, #user-chat-box #msg-input button {
    padding: 10px; }
